include /mixins/menu

header.header
  .header__container
    .header__logo
      a.header__logo-link
        img.header__logo-img(src='img/book24_logo.png')
    .header__content
      .header__btns
        button.header__menu.js-burger(type='button') Меню
        .header__other-btn
          a.header__back(href=$.jsv)
            span.header__desktop Назад в каталог
            span.header__mobile Назад
          a.header__cart(href=$.jsv)
            span.header__desktop В корзине #[strong 1] товар на #[strong 5 109] руб
            span.header__mobile Корзина (#[strong 1])
    nav.header__nav.js-burger-nav: +menu
