include /includes/data

block variables

doctype html
html.page(lang='ru')
  include /includes/head
  body.page__body.js-body
    .page__wrapper
      .page__header
        include /includes/header
      .page__main
        block main
      .page__ovrlay.js-overlay
      include /includes/modals
