include /mixins/modal
include /mixins/delivery

.page__modals
  +modal({
    modalId: 'delivery'
  }): +delivery

  +modal({
    modalId: 'cart'
  }): .cart-info
    .cart-info__container
      p.cart-info__title Товар успешно добавлен в корзину
      .cart-info__button: a.button._light._add._medium(href=$.jsv) Назад в каталог
      .cart-info__button: a.button._add._medium(href=$.jsv) Перейти к корзине 
