.page {
  height: 100%;
  -webkit-text-size-adjust: none;

  &__body {
    margin: 0;
    color: #000000;
    font: 11px -apple-system, BlinkMacSystemFont, Roboto, Open Sans, Helvetica Neue, sans-serif;
    background: #ffffff;
    position: relative;
    font-size: 12px;
  }
}
