mixin catalog-heading
  .catalog-heading
    .catalog-heading__container
      .catalog-heading__cnt 321 товар
      .catalog-heading__sort
        .catalog-heading__sort-title Сортировать
        .catalog-heading__sort-select
          select.js-formstyler._small(multiselect)
            option по Популярности
            option по Возрастанию цены
            option по Убыванию цены
            option по Новинкам
            option по Скидке
