mixin catalog-filter
  .catalog-filter.js-more-mobile
    button.catalog-filter__btn-mobile.js-more-mobile-link(type='button')
      span.catalog-filter__btn-mobile-icon
      span.catalog-filter__btn-mobile-text Фильтр
    .catalog-filter__list._hidden.js-more-mobile-list
      .catalog-filter__row
        .catalog-filter__col
          .filter-select.js-more
            .filter-select__container
              .filter-select__text.js-more-link
                .filter-select__text-text Бренд
                .filter-select__text-icon
              .filter-select__list._hidden.js-more-list
                each item in new Array(12)
                  .filter-select__item
                    label.filter-select__label
                      input.filter-select__control.js-select-control(type='checkbox')
                      span.filter-select__check
                        span.filter-select__check-holder
                        span.filter-select__check-text Wrangler
        .catalog-filter__col
          .filter-select.js-more
            .filter-select__container
              .filter-select__text.js-more-link
                .filter-select__text-text Бренд
                .filter-select__text-icon
              .filter-select__list._hidden.js-more-list
                each item in new Array(12)
                  .filter-select__item
                    label.filter-select__label
                      input.filter-select__control.js-select-control(type='checkbox')
                      span.filter-select__check
                        span.filter-select__check-holder
                        span.filter-select__check-text Wrangler
        .catalog-filter__col
          .filter-select.js-more
            .filter-select__container
              .filter-select__text.js-more-link
                .filter-select__text-text Бренд
                .filter-select__text-icon
              .filter-select__list._hidden.js-more-list
                each item in new Array(12)
                  .filter-select__item
                    label.filter-select__label
                      input.filter-select__control.js-select-control(type='checkbox')
                      span.filter-select__check
                        span.filter-select__check-holder
                        span.filter-select__check-text Wrangler
        .catalog-filter__col
          .filter-select.js-more
            .filter-select__container
              .filter-select__text.js-more-link
                .filter-select__text-text Бренд
                .filter-select__text-icon
              .filter-select__list._hidden.js-more-list
                each item in new Array(12)
                  .filter-select__item
                    label.filter-select__label
                      input.filter-select__control.js-select-control(type='checkbox')
                      span.filter-select__check
                        span.filter-select__check-holder
                        span.filter-select__check-text Wrangler
